In [2]:
import numpy as np
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
movies=pd.read_csv(r'F:\Python34\5000_movies.csv')
credits=pd.read_csv(r"F:\Python34\5000_credits.csv")

In [4]:
movies=movies.merge(credits,on='title')
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
ratings=pd.read_csv(r"F:\Python34\ratings_small.csv")
scores=pd.concat([movies,ratings],axis=1,sort=False)
scores.head()

,movie_id,title,overview,genres,keywords,cast,crew,userId,movieId,rating,timestamp
0,19995.0,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",1,31,2.5,1260759144
1,285.0,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",1,1029,3.0,1260759179
2,206647.0,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",1,1061,3.0,1260759182
3,49026.0,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",1,1129,2.0,1260759185
4,49529.0,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",1,1172,4.0,1260759205

In [10]:
user_scores=scores.pivot_table(index="userId",columns=['title'],values='rating')
user_scores.head(1)

title,#Horror,(500) Days of Summer,10 Cloverfield Lane,10 Days in a Madhouse,10 Things I Hate About You,102 Dalmatians,10th & Wolf,11:14,12 Angry Men,12 Rounds,...,Zoolander,Zoolander 2,Zoom,Zulu,[REC],[REC]Â²,eXistenZ,xXx,xXx: State of the Union,Ã†on Flux
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
user_scores=user_scores.fillna(0)
user_scores.head(10)

title,#Horror,(500) Days of Summer,10 Cloverfield Lane,10 Days in a Madhouse,10 Things I Hate About You,102 Dalmatians,10th & Wolf,11:14,12 Angry Men,12 Rounds,...,Zoolander,Zoolander 2,Zoom,Zulu,[REC],[REC]Â²,eXistenZ,xXx,xXx: State of the Union,Ã†on Flux
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0

In [12]:
similarity=user_scores.corr(method='pearson')
similarity.head(100)

title,#Horror,(500) Days of Summer,10 Cloverfield Lane,10 Days in a Madhouse,10 Things I Hate About You,102 Dalmatians,10th & Wolf,11:14,12 Angry Men,12 Rounds,...,Zoolander,Zoolander 2,Zoom,Zulu,[REC],[REC]Â²,eXistenZ,xXx,xXx: State of the Union,Ã†on Flux
title,,,,,,,,,,,,,,,,,,,,,
#Horror,1.00,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,1.00,-0.04,...,-0.04,-0.04,-0.04,-0.04,1.00,-0.04,-0.04,-0.04,-0.04,-0.04
(500) Days of Summer,-0.04,1.00,-0.04,-0.04,-0.04,-0.04,1.00,1.00,-0.04,-0.04,...,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04
10 Cloverfield Lane,-0.04,-0.04,1.00,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,...,-0.04,-0.04,-0.04,-0.04,-0.04,1.00,-0.04,-0.04,-0.04,-0.04
10 Days in a Madhouse,-0.04,-0.04,-0.04,1.00,1.00,-0.04,-0.04,-0.04,-0.04,-0.04,...,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04
10 Things I Hate About You,-0.04,-0.04,-0.04,1.00,1.00,-0.04,-0.04,-0.04,-0.04,-0.04,...,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A Good Day to Die Hard,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,...,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04
A Good Year,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,1.00,...,1.00,1.00,1.00,1.00,-0.04,-0.04,1.00,-0.04,-0.04,-0.04
A Guy Named Joe,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,...,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04
A Guy Thing,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,1.00,...,1.00,1.00,1.00,1.00,-0.04,-0.04,1.00,-0.04,-0.04,-0.04
A Hard Day's Night,1.00,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,-0.04,1.00,-0.04,...,-0.04,-0.04,-0.04,-0.04,1.00,-0.04,-0.04,-0.04,-0.04,-0.04

In [13]:
def get_similar(movie_name,user_score):
    similarity_score=similarity[movie_name]*(user_score-2.5)
    similarity_score= similarity_score.sort_values(ascending=False)
    return similarity_score

In [21]:
print(get_similar('Avatar',5))

title
The Avengers                                2.5
The Dark Knight Rises                       2.5
The Lone Ranger                             2.5
The Chronicles of Narnia: Prince Caspian    2.5
Avengers: Age of Ultron                     2.5
                                           ...
Ratatouille                                -0.1
Flushed Away                               -0.1
The Wolfman                                -0.1
The Matrix Reloaded                        -0.1
The Hobbit: An Unexpected Journey          -0.1
Name: Avatar, Length: 4800, dtype: float64

In [22]:
similar_scores=pd.DataFrame()

In [31]:
robotics_lover=[('Avatar',1),('RoboCop',2)]

In [32]:
for movieId,rating in robotics_lover:
   similar_scores=pd.concat([similar_scores,get_similar(movieId,rating)],ignore_index=True)
similar_scores.head()
similar_scores.sum().sort_values(ascending=False)

0    589.12
dtype: float64